<!DOCTYPE html>
<html>
<head>
    <title>Take Attendance</title>
</head>

<body style="text-align:center; margin-top:100px; font-family:Arial;">

    <h2>Take Attendance</h2>

    <form method="POST">

        <label>Select Subject:</label><br><br>

        <select name="subject" required>
            <option value="">-- Select Subject --</option>
            <option value="Math">Math</option>
            <option value="Science">Science</option>
            <option value="AI">AI</option>
            <option value="ML">ML</option>
        </select>

        <br><br>

        <button type="submit" style="padding:10px 20px; font-size:16px;">
            Start Attendance
        </button>

    </form>

</body>
</html>