<!DOCTYPE html>

<html>
<head>
<title>Select Subject</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">
<div class="card p-4 shadow">

<h3>Select Subject</h3>

<form method="POST">

<select name="subject" class="form-control mb-3" required>
<option value="">Select Subject</option>
<option value="AI">AI</option>
<option value="DBMS">DBMS</option>
<option value="Math">Math</option>
<option value="Python">Python</option>
</select>

<button class="btn btn-success w-100">Start Attendance</button>

</form>

</div>
</div>

</body>
</html>
